.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Ekran覺n %60'覺n覺 kaplas覺n */
  text-align: center;
  color: #2a363b;
}

.title {
  font-size: 100px;
  margin: 0;
  color: #ff6b08; /* Turuncu tema */
}

.message {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff6b08;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e65a00;
}
